:root {
    --webowl-background: #282c34;
    --webowl-foreground: white;
    --webowl-accent: #34282c;

    --webowl-margin-small: 6px;
    --webowl-margin-medium: 12px;
    --webowl-margin-large: 18px;
    --webowl-margin-xlarge: 24px;

    --reactist-bg-default: var(--webowl-background);
    --reactist-content-primary: var(--webowl-foreground);
    --reactist-chromatic-content-blue: var(--webowl-accent);
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--webowl-background);
    color: var(--webowl-foreground);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
