:root {
    --webowl-background: #475d80;
    --webowl-background-hover: #405474;
    --webowl-background-information: #ca932d;

    --webowl-menu-background: #425778;
    --webowl-menu-background-hover: #3c4e6c;

    --webowl-foreground: white;
    --webowl-foreground-subtle: #ffffff8f;

    --webowl-accent: #84b748;
    --webowl-accent-hover: #a0de58;
    --webowl-accent-disabled: #9fb485;

    --webowl-margin-small: 6px;
    --webowl-margin-medium: 12px;
    --webowl-margin-large: 18px;
    --webowl-margin-xlarge: 24px;

    --reactist-bg-default: var(--webowl-background);
    --reactist-content-primary: var(--webowl-foreground);
    --reactist-content-secondary: var(--webowl-foreground-subtle);
    --reactist-chromatic-content-blue: var(--webowl-accent);
    --reactist-chromatic-content-red: red;

    --reactist-actionable-primary-idle-fill: var(--webowl-accent);
    --reactist-actionable-primary-hover-fill: var(--webowl-accent-hover);
    --reactist-actionable-primary-disabled-fill: var(--webowl-accent-disabled);

    --reactist-actionable-quaternary-hover-fill: var(--webowl-menu-background-hover);
    --reactist-actionable-quaternary-hover-tint: var(--webowl-foreground);
    --reactist-actionable-quaternary-disabled-fill: var(--webowl-accent-disabled);
}

option {
    background-color: var(--webowl-menu-background-hover);
    color: var(--webowl-foreground);
}

.reactist_menulist[role='menu'] {
    background-color: var(--webowl-menu-background);
    border-color: gray;
    margin: 4px 0;
}

.reactist_menulist[role='menu'] [role='menuitem'] {
    color: var(--webowl-foreground);
    background-color: var(--webowl-menu-background);
}

.reactist_menulist[role='menu'] [role='menuitem']:hover {
    color: var(--webowl-foreground);
    background-color: var(--webowl-menu-background-hover);
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

a:hover {
    color: var(--webowl-accent);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--webowl-background);
    color: var(--webowl-foreground);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--webowl-foreground-subtle);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--webowl-foreground-subtle);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--webowl-foreground-subtle);
}
